@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background-color: #63BB7D;
    background-image:url('./img/todo_list.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form label{
    color: black;
}

form input{
    color:black
}
.container{
    font-family: 'Poppins', sans-serif;
}

.btn{
    display: flex;
    margin: 10px 0px 5px 0px;
    border-radius: 15%
}
.links{
    display:flex;
    align-content: flex-end

}

.logo{
    height: 50px;
    width: auto;
    padding-top:5px;
}

.nav-wrapper{
    margin-top:100px;
}